@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Gilroy", sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --white: white;
  --black: #000;
  --yellow: #fad264;
}

.invisibile {
  display: none;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0;
  background: no-repeat;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 45px;
  padding-right: 45px;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background: url(../img/header1920.jpg) no-repeat;
  background-size: cover;
}

.header__cube {
  position: absolute;
  background: url(../img/Star1.png) no-repeat;
  width: 157px;
  height: 171px;
  bottom: 60px;
  right: 405px;
}

.header__star {
  position: absolute;
  background: url(../img/Star2.png) no-repeat;
  width: 122px;
  height: 122px;
  bottom: 219px;
  left: 405px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
  padding-bottom: 12px;
}

.header__middle-logo {
  margin-right: 15px;
}

.header_title__description {
  color: #fad264;
}

.header__top-description {
  color: var(--white);
  font-size: 18px;
  line-height: 26px;
  max-width: 837px;
}

.header__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
  padding-bottom: 26px;
}

.header_title {
  max-width: 1100px;
  width: 100%;
  color: var(--white);
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 24px;
}

.header__middle-line {
  width: 83.15px;
  height: 2px;
  background-color: var(--yellow);
  margin-bottom: 26px;
}

.header__middle-description {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  max-width: 830px;
  width: 100%;
  margin-bottom: 41px;
}

.header__middle-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__middle-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  max-width: 285px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-right: 32px;
  margin-bottom: 43px;
}

.header-card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 18px;
  line-height: 21px;
  color: var(--black);
  min-height: 125px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.header-card__description::before {
  content: "";
  position: absolute;
  background: url(../img/card-star.svg);
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  left: 120px;
  top: -20px;
  bottom: 0;
  right: 0;
}

.header__middle-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__middle-desc2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
  padding-left: 5px;
}

.header__middle-desc1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--yellow);
  padding-right: 5px;
  border-right: 3px solid var(--white);
}

.header__middle-icon {
  display: inline-block;
  background-image: url(../img/date.png);
  background-repeat: no-repeat;
  width: 27px;
  height: 30px;
  padding-right: 40px;
  background-size: contain;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 26px;
  padding-bottom: 75px;
}

.header__bottom-input {
  border: none;
  width: 254px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--black);
  font-size: 18px;
  line-height: 21px;
  margin-right: 30px;
  display: inline-block;
}

input::-webkit-input-placeholder {
  color: var(--black);
  font-size: 18px;
  line-height: 21px;
}

input::-moz-placeholder {
  color: var(--black);
  font-size: 18px;
  line-height: 21px;
}

input:-ms-input-placeholder {
  color: var(--black);
  font-size: 18px;
  line-height: 21px;
}

input::-ms-input-placeholder {
  color: var(--black);
  font-size: 18px;
  line-height: 21px;
}

input::placeholder {
  color: var(--black);
  font-size: 18px;
  line-height: 21px;
}

.header__bottom-button {
  width: 254px;
  background: -o-linear-gradient(14.07deg, #fad264 44.82%, #fce558 70.67%);
  background: linear-gradient(75.93deg, #fad264 44.82%, #fce558 70.67%);
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding-bottom: 12.5px;
  padding-top: 12.5px;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--black);
  font-size: 18px;
  line-height: 21px;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.header__bottom-button-hidden {
  display: none;
  max-width: 254px;
  width: 100%;
  background: -o-linear-gradient(14.07deg, #fad264 44.82%, #fce558 70.67%);
  background: linear-gradient(75.93deg, #fad264 44.82%, #fce558 70.67%);
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding-bottom: 12.5px;
  padding-top: 12.5px;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--black);
  font-size: 18px;
  line-height: 21px;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.header__bottom-button-hidden:hover {
  color: #bb83ff;
}

.header__bottom-button:hover {
  color: #bb83ff;
}

.header__bottom-form {
  margin-bottom: 19px;
}

.header__bottom-desctiption {
  color: var(--white);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 47px;
}

.header__bottom-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__bottom-test-icon {
  background-image: url(../img/text.svg);
  width: 58px;
  height: 55px;
  margin-right: 14px;
  background-size: contain;
  background-repeat: no-repeat;
}

.header__bottom-test-desc {
  max-width: 468px;
  width: 100%;
  color: var(--white);
  font-size: 16px;
  line-height: 19px;
}

.marafon {
  padding-top: 89px;
  padding-bottom: 95px;
  position: relative;
  background-color: #fff;
}

.marafon__scroll-icon {
  position: absolute;
  left: 50%;
  bottom: 99%;
  background-image: url(../img/scroll.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.marafon__container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.marafon__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #320b61;
  margin-bottom: 39px;
}

.marafon__line {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 2px;
  background-color: #e130e3;
  margin-bottom: 23px;
}

.marafon__item {
  max-width: 1110px;
  width: 100%;
}

.marafon__card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 38px;
}

.marafon__card {
  padding-bottom: 25px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.marafon__item:first-child {
  margin-bottom: 155px;
}

.marafon__item:nth-child(2) {
  margin-bottom: 45px;
}

.marafon__card-header-day {
  max-width: 284px;
  width: 100%;
  background-color: var(--yellow);
  background-size: cover;
}

.marafon__card-header-description {
  max-width: 826px;
  width: 100%;
  background-color: #320b61;
}

.marafon__card-header-descr {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #42196d;
  padding-top: 24px;
  padding-bottom: 17px;
}

.marafon__card-header-decsr1 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
  text-transform: uppercase;
  padding-top: 32px;
  padding-bottom: 32px;
}

.marafon__card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.marafon__card-body-img {
  background-repeat: no-repeat;
  width: 293px;
  height: 394px;
  margin-right: 30px;
  background-size: contain;
}

.marafon__unit {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marafon__unit-description {
  font-size: 18px;
  line-height: 21px;
  max-width: 719px;
  width: 100%;
  padding-right: 21px;
}

.marafon__card-body-list {
  margin-bottom: 35px;
}

.marafon__card-body-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marafon__card-body-item:not(:last-child) {
  margin-bottom: 20px;
}

.marafon__card-body-item::before {
  content: "";
  display: inline-block;
  background: url(../img/star-icon.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  padding-left: 40px;
  padding-top: 35px;
}

.marafon__result {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;
}

.footer__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__list-description {
  max-width: 767px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.footer__list-item::before {
  content: "";
  display: inline-block;
  background: black;
  border: 3px solid black;
  border-radius: 100%;
  height: 1px;
  width: 1px;
  margin-top: 5px;
  margin-right: 10px;
}

.participation {
  background-color: #42196d;
  padding-top: 82px;
  padding-bottom: 92px;
}

.participation__container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.participation-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #fad264;
  margin-bottom: 39px;
}

.participation-line {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 23px;
  margin-bottom: 63px;
}

.participation-header__item {
  max-width: 349px;
  width: 100%;
  margin-bottom: 22px;
}

.participation-header__item:not(:last-child) {
  margin-right: 25px;
}

.participation-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #fff;
  border-radius: 0px 0px 40px 40px;
  margin-bottom: 22px;
}

.header-card__img {
  position: relative;
  margin-bottom: 33px;
}

.header-card__descr1 {
  text-align: center;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #292841;
  min-height: 88px;
  height: 100%;
}

.header-card__descr2 {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #292841;
  margin-bottom: 24px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 84px;
  height: 100%;
}

.header-card__descr2::after {
  position: absolute;
  content: "";
  background-image: url(../img/sub.svg);
  background-repeat: no-repeat;
  width: 47px;
  height: 30px;
  left: 46%;
  bottom: -15px;
}

.middle-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
}

.second-list {
  position: relative;
}

.second-list__header {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 17px;
}

.second-list__description {
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  padding-left: 40px;
}

.second-list__item:not(:first-child) {
  margin-bottom: 21px;
}

.second-list__item:not(:first-child)::before {
  content: "";
  background-image: url(../img/done.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 31px;
  height: 30px;
  display: block;
  position: absolute;
}

.days {
  background-color: #f7f7f7;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.days__container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.cube {
  position: absolute;
  background-image: url(../img/cube.png);
  width: 155px;
  height: 149px;
  right: 26%;
  top: 17px;
}

.days__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #320b61;
  margin-bottom: 30px;
}

.days__line {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 2px;
  background-color: #e130e3;
  margin-bottom: 30px;
}

.days__container-description {
  font-weight: normal;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 60px;
  text-align: center;
}

.days__container-stages {
  background-image: url(../img/Stages.png);
  background-repeat: no-repeat;
  height: 136px;
  margin-bottom: 30px;
}

.days__container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
}

.days__container-item:not(:last-child) {
  margin-right: 31px;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header {
    background: url(../img/header798.jpg) no-repeat;
    background-size: cover;
  }

  .header__cube {
    display: none;
  }

  .header__star {
    width: 133px;
    height: 133px;
    bottom: 527px;
    left: 10px;
    background-size: contain;
  }

  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 23px;
    padding-top: 34px;
  }

  .header__middle {
    padding-top: 24px;
    padding-bottom: 30px;
  }

  .header__middle-logo {
    width: 52px;
    height: 52px;
    background-size: contain;
    margin-bottom: 19px;
    margin-right: 0;
  }

  .header_title {
    max-width: 690px;
    width: 100%;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 38px;
  }

  .header__middle-line {
    margin-bottom: 27px;
  }

  .header__middle-description {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 72px;
    max-width: 690px;
    width: 100%;
    height: 100%;
  }

  .header__middle-item {
    max-width: 269px;
    width: 100%;
    margin-right: 29px;
    margin-bottom: 57px;
  }

  .header-card__description {
    min-height: 145px;
    height: 100%;
  }

  .header-card__description::before {
    left: 115px;
  }

  .header__middle-desc1 {
    font-size: 16px;
    line-height: 22px;
  }

  .header__middle-desc2 {
    font-size: 16px;
    line-height: 22px;
  }

  .header__bottom {
    padding-top: 30px;
    padding-bottom: 94px;
  }

  .header__bottom-form {
    margin-bottom: 59px;
  }

  .footer__list-description {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__bottom-input {
    width: 269px;
    margin-right: 30px;
  }

  .header__bottom-button {
    display: none;
  }

  .header__bottom-button-hidden {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    width: 269px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }

  .marafon__result {
    padding-left: 10px;
  }

  .footer__list-description {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__list-item::before {
    margin-left: 10px;
  }

  .header__bottom-desctiption {
    line-height: 24px;
    margin-bottom: 36px;
  }

  .header__bottom-test-desc {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
  }

  .marafon__scroll-icon {
    bottom: 99.3%;
    left: 47%;
  }

  .participation-header__item {
    margin-right: 25px;
  }

  .marafon__card-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .cube {
    right: 9%;
  }

  .days__container-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .days__container-item {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 80px;
  }

  .header__top {
    padding-top: 36px;
    padding-bottom: 19px;
  }

  .header__middle {
    padding-top: 19px;
    padding-bottom: 20px;
  }

  .header__middle-logo {
    margin-bottom: 24px;
  }

  .header__top-description {
    font-size: 14px;
    line-height: 16px;
  }

  .participation-header__item:not(:last-child) {
    margin-right: 0px;
  }

  .participation-header__item:last-child {
    margin-right: 0px;
  }

  .header_title {
    max-width: 320px;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 26px;
  }

  .header__middle-item {
    max-width: 320px;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 51px;
  }

  .header-card__description {
    font-size: 16px;
    line-height: 19px;
  }

  .header-card__description::before {
    left: 136px;
  }

  .header__star {
    display: none;
  }

  .marafon__card-body-img {
    margin-right: 0;
  }

  .header__middle-item:last-child {
    margin-bottom: 37px;
  }

  .header__middle-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    position: relative;
  }

  .header__middle-desc1 {
    text-align: left;
  }

  .header__middle-desc2 {
    text-align: left;
  }

  .marafon__card-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .marafon__unit {
    padding-left: 10px;
  }

  .header__middle-icon {
    position: absolute;
    left: -40px;
    top: 7px;
  }

  .marafon__result {
    padding-left: 10px;
  }

  .footer__list-description {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__list-item::before {
    margin-left: 10px;
  }

  .header__bottom {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .header__bottom-input {
    width: 254px;
    margin-right: 0;
    margin-bottom: 26px;
  }

  .header__bottom-form {
    margin-bottom: 8px;
  }

  .header__bottom-desctiption {
    margin-bottom: 37px;
  }

  .header__bottom-test-desc {
    width: 246px;
    font-size: 14px;
    line-height: 16px;
  }

  .header__bottom-button-hidden {
    width: 270px;
  }

  .header__bottom-test-icon {
    margin-right: 10px;
  }

  .header__bottom-test-desc {
    width: 234px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 395px) {
  .container {
    max-width: 395px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__middle-date {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .marafon__card-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .marafon__card-body-img {
    margin-right: 0;
  }

  .marafon__scroll-icon {
    bottom: 99.5%;
    top: -20px;
  }

  .participation-header__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__bottom-test-desc {
    max-width: 200px;
    width: 100%;
  }

  .header_title {
    font-size: 20px;
  }

  .header__middle-date {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .marafon__scroll-icon {
    top: -20px;
  }

  .header__middle-description {
    font-size: 20px;
  }

  .header__middle-item {
    max-width: 280px;
    width: 100%;
  }

  .marafon__card-body-img {
    width: 147px;
    height: 197px;
    margin-right: 0;
  }

  .marafon__card-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__middle-icon {
    position: absolute;
    left: -16px;
    top: -1px;
  }

  .header__middle-icon {
    display: inline-block;
    background-image: url(../img/date.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 24px;
    padding-right: 40px;
    background-size: contain;
  }

  .header-card__description::before {
    left: 110px;
  }

  .header-card__descr2::after {
    left: 40%;
  }

  .days__container-description {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}